# IntelliJ project files
.idea
*.iml
out
gen
/Aula38SemOO/bin/*
/Aula38SemOO/obj/*

/Aula42SegundoProblema/bin/*
/Aula42SegundoProblema/obj/*

/Aula46MembrosEstaticos/bin/*
/Aula46MembrosEstaticos/obj/*