# IntelliJ project files
.idea
*.iml
out
gen

/SolutionSecao6Revisao_66RefValor/bin/*
/SolutionSecao6Revisao_66RefValor/obj/*
/vetor1/bin/*
/vetor1/obj/*
/vetor2/bin/*
/vetor2/obj/*
/Exer1/bin/*
/Exer1/obj/*

/list1/bin/*
/list1/obj/*

/exerLista1/bin/*
/exerLista1/obj/*

/matrizes1/bin/*
/matrizes1/obj/*